# Localnet validator. Copy to .env.validator on the validator host.
INSTANT_CONFIG_DIR=/opt/instant-subnet/config
INSTANT_NETWORK=local
INSTANT_CHAIN_ENDPOINT=ws://68.183.141.180:80
INSTANT_NETUID=5

INSTANT_WALLET_NAME=validator
INSTANT_WALLET_HOTKEY=REPLACE_WITH_REGISTERED_VALIDATOR_HOTKEY_NAME
INSTANT_WALLET_PATH=/home/instant/.bittensor/wallets

INSTANT_MODEL_TIER=dev1
INSTANT_MAX_MODEL_LEN=8192
INSTANT_ATTESTATION_MODE=off

INSTANT_VALIDATOR_HOST=127.0.0.1
INSTANT_VALIDATOR_PORT=8092
INSTANT_STATE_DB=/var/lib/instant-subnet/validator.sqlite3
INSTANT_METAGRAPH_REFRESH_S=30
INSTANT_REQUEST_TIMEOUT_S=10
INSTANT_PLATFORM_URL=https://REPLACE_WITH_PLATFORM_HOST

INSTANT_LOG_LEVEL=INFO
